<div class="container"><!-- Contenedor Principal -->
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><!-- Barra de navegador -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/walk.gif" width="30" height="30" class="d-inline-block align-top" alt="">
      NG-BLOG
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="identify && identify.name">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['categoria',category.id]">{{ category.name }}</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="!identify">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>
        <ul class="navbar-nav navbar-right" *ngIf="identify && identify.name">
          <li class="nav-item">
            <div class="avatar_mask">
              <span *ngIf="identify.image">
                <img src="{{ url + 'user/avatar/' + identify.image}}" class="avatar_nav"/>
              </span>
              <span *ngIf="!identify.image">
                <img src="assets/images/default.png" class="avatar_nav"/>
              </span>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ identify.name + ' ' + identify.surname }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear entrada</a>
              <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear categoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/perfil', identify.sub]">Mi perfil</a>
              <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
              <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
            </div>
          </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav> <!--CERRAR BARRA NAVEGACION -->
  <!-- CONTENIDO -->
  <router-outlet></router-outlet>

  <footer>
    <hr>
    Master en desarrollo web full-stack
    <hr>
  </footer>
</div> <!-- CERRAR Contenedor Principal -->