<div class="loading" *ngIf="!posts">
	Cargando...
</div>
<div class="container-fluid mt-3" *ngIf="posts">
	<hr>
	<div class="user-card">
		<div class="avatar_mask_profile float-left mr-3">
			<img src="{{url + 'user/avatar/' + identify.image }}" class="avatar_nav"/>	
		</div>
		<div class="data_mask float-left">
			<h1>{{ user.name + ' ' + user.surname }}</h1>
			<p [innerHtml]="user.description"></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<hr>
	<!-- Listado de entradas-->
	<post-list [posts]="posts"
				[identify]="identify"
				[url]="url"></post-list>
	<hr>
</div>